/* Polices importées */
@font-face {
    font-family: 'Gagalin';
    src: url('../assets/fonts/gagalin/Gagalin-Regular.otf');
}

html {
    margin: 0;
    padding: 0;
    width: auto;
}

body {
    background-image: url('../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

/* Container des dragon balls */
#dragonBallsIndicator {
    background-color: #2d2e2b;
}

/* chaque dragon ball */
#dragonBall-container img {
    width: 100%;
}

/* barre de navigation */
#home_navbar {
    left: 0;
    top: 75%;
    transform: translate(0, -50%);
}

#home_navbar div:hover {
    cursor: pointer;
}

#home_navbar div.disabled {
    filter: brightness(0.4);
    cursor: no-drop;
}

#home_navbar div:active {
    transform: scale(0.9);
    transition: all 0.2s;
}

#home_navbar img {
    /* max-height: 165px; */
    width: 70%;
}

#home_navbar p {
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 0 0 10px black;
    text-align: center;
    font-family: 'Gagalin';
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.retour {
    top: 75%;
    right: 0;
    border: none;
    margin: 0% 3%;
    padding: 1% 5%;
    font-size: 21px;
    position: absolute;
    border-radius: 6px;
    color: whitesmoke;
    font-family: 'Gagalin';
    background-color: #363636;
    letter-spacing: 1px;
}

.retour:active {
    transform: scale(0.9);
    transition: all 0.2s;
}