body {
    background-image: url('../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

div#dragonBallsIndicator {
    background-color: #2d2e2b;
}

#dragonBall-container img {
    width: 10%;
}