:root {
    --CONTAINER-SIZE: 325;

    --RADAR-METAL-COLOR: #a0a0a0;
    --RADAR-METAL-LINE-COLOR: #787878;
    --RADAR-METAL-LINE-WIDTH: 2.6;

    --RADAR-VIEW-COLOR: #12f900;
    --RADAR-VIEW-LINE-COLOR: #0a9100;
    --RADAR-VIEW-LINE-WIDTH: 1.5;
}

body {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Arial, Geneva, Verdana, sans-serif;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#btnDBRadar-cont {
    display: flex;
    justify-content: center;
}

#btnDBRadar {
    padding: 3.6% 0;
    width: 27%;
    border-radius: 5px;
    background-color: var(--RADAR-METAL-COLOR);
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(to right, var(--RADAR-METAL-LINE-COLOR), var(--RADAR-METAL-LINE-COLOR) calc(var(--RADAR-METAL-LINE-WIDTH) * 1px), var(--RADAR-METAL-COLOR) calc(var(--RADAR-METAL-LINE-WIDTH) * 1px), var(--RADAR-METAL-COLOR));
    border: calc(var(--RADAR-METAL-LINE-WIDTH) * 1px) solid var(--RADAR-METAL-LINE-COLOR);
    box-shadow: inset 0px 0px 3px 0px #ffffff;
    transform: scale(1);
    z-index: 1;
    transition: all 0.18s;
    margin: 0;
    margin-bottom: -2%;
}
#btnDBRadar:active {
    filter: brightness(1.5);
    margin-bottom: -7%;
}

#bodyDBRadar-cont {
    width: calc(var(--CONTAINER-SIZE) * 1px);
    height: calc(var(--CONTAINER-SIZE) * 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: calc(var(--RADAR-METAL-LINE-WIDTH) * 1px) solid var(--RADAR-METAL-LINE-COLOR);
    border-radius: 1000px;
}

#bodyDBRadar {
    /* Radar */
    box-shadow: inset 10px -5px 20px 0px black;
    width: -webkit-fill-available;
    height: inherit;
    border: 16px solid var(--RADAR-METAL-COLOR);
    border-radius: 10000px;
    background-color: var(--RADAR-VIEW-COLOR);
    background-image:
        linear-gradient(var(--RADAR-VIEW-LINE-COLOR) calc(var(--RADAR-VIEW-LINE-WIDTH) * 1px), transparent calc(var(--RADAR-VIEW-LINE-WIDTH) * 1px)), linear-gradient(to right, var(--RADAR-VIEW-LINE-COLOR) calc(var(--RADAR-VIEW-LINE-WIDTH) * 1px), var(--RADAR-VIEW-COLOR) calc(var(--RADAR-VIEW-LINE-WIDTH) * 1px));
    background-size: 18px 18px;
    background-position: 53% 53%;
    box-shadow: inset 10px -5px 20px 0px black;
    filter: drop-shadow(1px 2px 10px black);

    /* Pointeur */
    display: flex;
    justify-content: center;
    align-items: center;
}

#bodyDBRadar img {
    width: 7%;
}